<h3>{{post.title}}</h3>


{{#if showBody}}
<div>{{post.body}}</div>
<button type="button" name="button" class="ui teal button tiny" {{action "onButtonClickInBody"}}>Open item</button> {{/if}}
<hr /> {{yield}}