{{outlet}}
<h1 id="title">Welcome to Ember</h1>

<hr/>
::::::: ГИТ :::::::
<ul>
  <li><a href="dddd"> ddddd </a></li>
  <li><a href="https://github.com/cbobrov/"> github.com/cbobrov </a></li>
  <li><a href="https://github.com/vvscode/js--upsjs2-em/commits/master"> github.com/vvscode </a></li>
  <li><a href="https://githowto.com/ru/setup"> githowto.com/ru/setup </a></li>
  <li><a href="http://git.huit.harvard.edu/guide/"> git.huit.harvard.edu/guide/ </a></li>
  <li><a href="https://www.prolinux.org/post/korotkii-spravochnik-po-git-komandam/"> korotkii-spravochnik-po-git-komandam/ </a></li>

</ul>

::::::: ЭМБЕР :::::::
<ul>
  <li><a href="ttp://emjs.ru/v2/"> ember RU </a></li>
  <li><a href="ttps://guides.emberjs.com/v2.10.0/getting-started/quick-start/"> ember ENG </a></li>
  <li><a href="http://emberjs.com/api/"> api </a></li>
  <li><a href="https://cloud.mail.ru/public/5b6s/SKTEhejck"> ember-video-@mail.ru </a></li>
  <li><a href="https://trank.com.ua/course/ember-js"> ember-video-ua</a></li>
  <li><a href="https://ember-cli.com/extending/"> ember-cli-info</a></li>
  
</ul>
::::::: ЖС :::::::
<ul>
  <li><a href="https://learn.javascript.ru/promise"> learn.javascript.ru </a></li>
  <li><a href="https://devionity.com/ru/courses/js-fundamentals-and-jquery"> courses/js-fundamentals-and-jquery </a></li>

</ul>
:::::::: ХТМЛ :::::::
<ul>
  <li><a href="http://htmlbook.ru/html"> htmlbook.ru </a></li>
  <li><a href="http://ab-w.net/HTML5/document.php"> ab-w.net </a></li>

</ul>
<hr/>