{{!--<h2>Posts component--}}
{{#if activePost}}
    (Last active post: {{activePost.title}})
{{/if}}
{{!--</h2>--}}

{{#each posts as |currentPost|}}
    {{main-post/m-post 
        showBody=(eq currentPost activePost)
        post=currentPost 
        setBodyView=(action 'setBodyView')
        }}
{{/each}}
{{yield}}






