{{!--<h2>Posts component--}}
{{#if activePost}}
    (Last active post: {{activePost.title}})
{{/if}}
{{!--</h2>--}}

{{#each posts as |currentPost|}}
    {{main-post/m-post 
        showBody=(eq currentPost activePost1
                 or eq currentPost activePost2)
        post=currentPost         
        onPostClick=(action 'setBodyView')
        }}
{{/each}}
{{yield}}






