 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



<ul class="nav nav-tabs">
  <li>{{#link-to 'index'}}<h>Главная страница</h>{{/link-to}}</li>
  <li>{{#link-to 'users'}}<h>Список пользователей</h>{{/link-to}}</li>
  
</ul>





{{outlet}}