
<ul class="nav nav-tabs">
  
  <li>{{#link-to 'index'}}<h3><span class="label label-success">Главная страница</span></h3>{{/link-to}}</li>
  <li>{{#link-to 'users'}}<h3><span class="label label-warning">Список пользователей</span></h3>{{/link-to}}</li>
  <li>{{#link-to 'posts'}}<h3><span class="label label-warning">Список заголовков</span></h3>{{/link-to}}</li>
 
</ul>





{{outlet}}